/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) and (orientation:portrait) { 
	.service-block.print-product {
		margin-bottom: 80px;
	}
	.service-section {
		min-height: 1300px;
	}
	.social-icon-container {
	opacity: 0;
	position: relative;
	margin: 0 0 0 20px;
	padding: 0;
	z-index: 999;
	}
}
/*end portrait mobile*/

@media (max-width: 767px) and (orientation:landscape) { 
	.main-section {
		min-height: 500px;
	}
	.welcome-section {
		min-height: 500px;
	}
	.service-section {
		min-height: 1300px;
	}
	.service-block::last-child {
		margin-bottom: 60px;
	}
	.contact-section {
		min-height: 600px;
	}
	.overlay nav {
		font-size: 1.4em;
		top: 40%;
	}
	.overlay ul.main-nav li {
		height: 50px;
	}
	.overlay .copy {
		top: 85%;
	}
	.about-heading {
		font-size: 6.5em;
	}

}
/* end landscape mobile */
@media (min-width: 768px) and (max-width: 991px) { 
	.main-heading {
		font-size: 5em;
	}
	.sub-heading {
		width: 60%;
		font-size: 1.2em;
	}
	a.rounded-btn {
	width: 200px;
	}
	
	.welcome-heading {
	font-size: 5em;
	margin: -80px 0 30px -100px;
	position: relative;
	}

	.welcome-text {
	padding-top: 10px;
	padding: 40px 30px;
	margin-top: 180px;
	}

	.welcome-section {
		min-height: 800px;
	}
	.social-icon-container {
		margin: 0;
		padding: 0;
		display: block;
		position: absolute;
		left: 50px;
		bottom: 40px;
		opacity: 0;
	}
	.service-title {
		font-size: 1.5em;
	}
	.contact-section::after {
	font-size: 30em;
	bottom: -300px;
	}
	.scroll-container {
	bottom: 30px;
	}
	.arrow-container {
	left: 30px;
	}
	h4.contact-small-heading {
	margin-bottom: 30px;
	margin-top: 40px;
	}
	.about-heading {
		font-size: 4em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	.main-heading {
		font-size: 6em;
	}
	.sub-heading {
		width: 60% !important;
		font-size: 1.4em;
	}
	a.rounded-btn {
	width: 200px;
	}
	

	.welcome-heading {
	font-size: 5em;
	margin: 40px 0 30px -150px;
	position: relative;
	z-index: 999 !important;
	}
	.welcome-heading::after {
		font-size: 6em;
		top: -100px;
		left: -260px;
		letter-spacing: -30px;
	}
	.welcome-text {
	padding-top: 10px;
	padding: 30px 50px;
	margin-top: 120px;
	border-top: 3px solid #ccc;
	border-right: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	}
	.welcome-text::before {
		content: '';
		width: 3px;
		height: 50px;
		background: #ccc;
		position: absolute;
		top: 0;
		left: 0;
	}
	.welcome-text::after {
		content: '';
		width: 3px;
		height: 250px;
		background: #ccc;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.welcome-section {
		min-height: 800px;
	}
	.social-icon-container {
		margin: 0;
		padding: 0;
		display: block;
		position: absolute;
		left: 50px;
		bottom: 40px;
		opacity: 0;
		z-index: 999;
	}
	.contact-section::after {
	font-size: 30em;
	bottom: -300px;
	}
	.service-heading::after {
	font-size: 9em;
	left: -260px;
	top: 300px;
	}
	.scroll-container {
	bottom: 30px;
	}
	.arrow-container {
	
	left: 30px;

	}
	h4.contact-small-heading {
	margin-bottom: 30px;
	margin-top: 40px;
	}
	.about-heading {
		font-size: 5em;
	}
	.profile-container {
	border: 5px solid #ddd;
	margin: 100px 0 0 -80px;
	font-size: 1em;
	opacity: 0;
	padding: 40px 40px 40px 80px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.main-heading {
		font-size: 6em;
	}
	.main-heading::before {
		top: 66px;
	}
	.sub-heading {
	width: 50%;
	font-size: 1.4em;
	line-height: 1.5;
	}
	a.rounded-btn {
	width: 200px;
	}
	.welcome-heading {
	font-size: 5.5em;
	margin: 20px 0 30px -120px;
	position: relative;
	}
	.welcome-heading::after {
		font-size: 6em;
		top: -100px;
		left: -260px;
		z-index: -100;
	}
	.welcome-text {
	border-top: 3px solid #ccc;
	border-right: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	padding: 40px 60px;
	margin-top: 120px;
	position: relative;
	transform: translateY(-40px);
	}
	.welcome-text::before {
		content: '';
		width: 3px;
		height: 50px;
		background: #ccc;
		position: absolute;
		top: 0;
		left: 0;
	}
	.welcome-text::after {
		content: '';
		width: 3px;
		height: 200px;
		background: #ccc;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	
	.welcome-section {		
		position: relative;
	}
	.welcome-section::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		/*background: rgba(8,62,84,.8);*/
		position: absolute;
		left: 0;
		top: 0;
	}

	.social-icon-container {
		margin: 0;
		padding: 0;
		display: block;
		position: absolute;
		left: 50px;
		bottom: 40px;
		opacity: 0;
	}

	.overlay nav::after {
  	font-size: 30em;
  	color: rgba(255,255,255,.02);
  	position: absolute;
  	left: 0;
  	top: -400px;
  	}
  	.main-section::before {
	letter-spacing: -40px;
	}

	.service-heading {
	font-size: 5.5em;
	}
	.contact-heading {
	font-size: 5.5em;
	}
	.contact-section::after {
	font-size: 30em;
	bottom: -300px;
	}
	.service-heading::after {
	font-size: 9em;
	left: -400px;
	top: 200px;
	}
	.scroll-container {
	bottom: 30px;
	}
	.arrow-container {
	left: 30px;
	}
	h4.contact-small-heading {
	margin-bottom: 30px;
	margin-top: 40px;
	}
	.about-heading {
		font-size: 5em;
	}
	.profile-container {
	border: 5px solid #ddd;
	margin: 100px 0 0 -120px;
	font-size: 1em;
	opacity: 0;
	padding: 40px 60px 40px 120px;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
	}
    blockquote {
        padding: 20px 0px 20px 80px;
    }
    blockquote::after {
        left: 0px;
    }
}